:root { 
  --black: #000000;
  --gray-nurse: #e7e9eb;
  --green-pea: #286937;
  --masala: #3c3c3c;
  --white: #ffffff;
  --wild-sand: #f3f4f5;
 
  --font-size-l: 20px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 40px;
  --font-size-xxxxl: 64px;
 
  --font-family-aeonik_mgen-bold: "Aeonik MGEN-Bold", Helvetica;
  --font-family-aeonik_mgen-regular: "Aeonik MGEN-Regular", Helvetica;
  --font-family-arial-bold: "Arial-Bold", Helvetica;
  --font-family-arial-regular: "Arial-Regular", Helvetica;
}
.mgenheadingssubheading {
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.mgenbodybody-regular {
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.mgenheadingsh2 {
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.mgenbodybody-small {
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.mgendisplaydisplay-large {
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.arial-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.aeonikmgen-bold-masala-64px {
  color: var(--masala);
  font-family: var(--font-family-aeonik_mgen-bold);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 700;
}

.arial-bold-green-pea-16px {
  color: var(--green-pea);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.arial-bold-masala-16px {
  color: var(--masala);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.aeonikmgen-regular-normal-masala-64px {
  color: var(--masala);
  font-family: var(--font-family-aeonik_mgen-regular);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.arial-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.arial-bold-masala-12px {
  color: var(--masala);
  font-family: var(--font-family-arial-bold);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.aeonikmgen-bold-green-pea-40px {
  color: var(--green-pea);
  font-family: var(--font-family-aeonik_mgen-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}

.arial-bold-masala-20px {
  color: var(--masala);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

.aeonikmgen-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-aeonik_mgen-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.aeonikmgen-bold-white-28px {
  color: var(--white);
  font-family: var(--font-family-aeonik_mgen-bold);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
